body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
.btn {
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.status-order {
    text-transform: capitalize;
}
.cancelled {
    background-color: rgb(209, 14, 14);
    cursor:  not-allowed;
}
.cancelled:hover{
    background-color: gray;
    border: gray;
}
.delivered{
    background-color: gray;
    cursor:  not-allowed;
}
.confirmed{
    background-color: rgb(221, 151, 22);
}
